* {
    margin: 0;
}

header {
    display: flex;
    background: linear-gradient(to right, #8C0839, #400219)
}

.banner {
    width: 40%;
    margin: 20px 0 20px 50px;
}

.menu {
    display: flex;
    column-gap: 40px;
    margin-top: 112px;
}

.topicos {
    text-transform: uppercase;
    list-style: none;
    font-size: 28px;
    font-weight: bold;
}

.topicos a {
    text-decoration: none;
    color: white;
}

.topicos a:hover {
    color: #984cd6;
}

main {
    background: #be4f78
}

section {
    display: flex;
    padding: 20px 100px 20px 100px;
    column-gap: 20px;
    row-gap: 20px;
}

.imagemInicial {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.822);
}

.conteudo {
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 20px 0 10px 0;
    background: #d37497
}

.taca {
    height: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.822);
}

.rodape {
    font-size: 13px;
}

@media screen and (max-width: 480px) {
    * {
        padding: 0;
    }

    header {
        display: block;
    }

    .banner {
        width: 100%;
        margin: 0;
    }

    .menu {
        margin: 20px 0 0 20px;
        column-gap: 8px;
        width: 100%;
    }

    .topicos {
        font-size: 16px;
        margin-bottom: 20px;
    }

    section {
        display: block;
        padding: 10px;  
    }

    p {
        margin-top: 10px;
    }
}