* {
    margin: 0;
}

header {
    display: flex;
    background: linear-gradient(to right, #8C0839, #400219)
}

.banner {
    width: 40%;
    margin: 20px 0 20px 50px;
}

.menu {
    display: flex;
    column-gap: 80px;
    margin-top: 112px;
}

.topicos {
    text-transform: uppercase;
    list-style: none;
    font-size: 28px;
    font-weight: bold;
}

.topicos a {
    text-decoration: none;
    color: white;
}

.topicos a:hover {
    color: #984cd6;
}

main {
    background: #be4f78

}

section {
    display: flex;
    column-gap: 0px;
    padding: 30px 100px 0 100px;
    column-gap: 20px;
}

.conteudo {
    font-size: 20px;
}